body {
    font-family:Arial, sans-serif;

    padding-left: 35%;
    padding-top: 10%;
    padding-bottom: 10%;
}

image {
    width: 200px;
    height: 200px;
}
h4 {
    color: forestgreen;
}
nav {
    float: bottom;
}