body {
    background-color: yellow;
    padding: 20px;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
}
nav {
    background-color: fuchsia;

}
nav a {
    color: white;
    text-decoration: none;
    border-right: 2px solid white;
    padding: 5px;
}
header {
    background-color: red;
    margin-bottom: 30px;
}
main {
    background-color: whitesmoke;
    border: 1px;
    solid-color: black;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border: 1px black solid;

}
footer {
    padding: 20px;
    background-color: gray;

}
table {
    border: 2px solid black;
    border-collapse: collapse;
    margin-bottom: 10px;
    width: 40%;
    margin-left: 10px;

}
td {
    padding: 15px;
    border: 2px solid black;

}
td.groen{
    background-color: forestgreen;

}
td.blauw{
    background-color: skyblue;

}
a:hover {
    color: crimson;
}
div.wrapper {
    width: 1000px;
    margin: auto;
}
article {
    float: left;
    width: 50%;
    margin-right: 85px;
    margin-left: 10px;
    padding-top: 10px;
}
